# UNITE-COVID data curation notebook (R-Kernel)

## Version 2.0

This describes the curation process. We use the finalised dataset "UNITE_COVID_19_global_export-1Dec2020 CSV.csv" 
as the source data / master dataframe. The working dataframe is 'working.df' and is updated by the curation script.

"UNITE_curation_dictionary.xlsx" contains curation/explanatory notes.

ESICM UNITE-COVID curation team
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093
- Paul W Elbers (Amsterdam UMC: Amsterdam, NL) ORCID: 0000-0003-0447-6893
- Harm-Jan de Grooth (VU University Medical Center: Amsterdam, NL) ORCID: 0000-0002-7499-076X
- Thomas De Corte (Universiteit Gent: Gent, BE) ORCID: 0000-0001-5011-6640
- Massimiliano Greco (Humanitas University, Rozzano, IT) ORCID: 0000-0003-1003-4637

Coagulation free-text curation dictionaries
- Andrea Lavinio (Cambridge University Hospitals NHS Foundation Trust: Cambridge, GB)
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093

Usage: 
Add data file as "./data/UNITE_COVID_19_global_export-1Dec2020.csv"

Dictionaries are in "./dictionaries"

Then source the current pipline and execute the function get_data() which returns the curated dataset as a dataframe

In [1]:
source("curation_pipeline_version_2_0.R")

data.df <- get_data()

**UNITE-COVID data curation notebook (R-Kernel)**

In [2]:
head(data.df)

  Patient   Iteration INC_CRIT1_YN INC_CRIT2_YN INC_CRIT3_YN INC_CRIT4_YN
1 '01/03/01 1         TRUE         TRUE         TRUE         FALSE
2 '01/03/02 1         TRUE         TRUE         TRUE         FALSE
3 '01/03/03 1         TRUE         TRUE         TRUE         FALSE
4 '01/03/04 1         TRUE         TRUE         TRUE         FALSE
5 '01/03/05 1         TRUE         TRUE         TRUE         FALSE
6 '01/06/01 1         TRUE         TRUE         TRUE         FALSE
  INC_SEX_RAD INC_AGE_INT INC_HEIGHT_INT INC_WEIGHT_INT ...
1 Male        52          37             113            ...
2 Male        31          37             119            ...
3 Male        51          42             128            ...
4 Male        50          37             128            ...
5 Female      48          32             108            ...
6 Female      69          32             109            ...
  REH_ECMO_HIGH_IMS_INT OUTCOME_LD       OUT_ICU_DURATION_INT
1  1                    Hospitalized     66
2  1                    Death            92
3  1                    Death            92
4  1                    Death            13
5  1                    Discharged alive 43
6 NA                    NA                1
  OUT_DEAD_DURING_ICU_YN OUT_HOSP_DURATION_INT OUT_DISCHARGE_RRT_YN
1 NA                      1                    NA
2 TRUE                    1                    NA
3 TRUE                    1                    NA
4 TRUE                    1                    NA
5 NA                     61                    NA
6 NA                      1                    NA
  OUT_DEATH_DURING_ICU_YN.... OUT_DEATH_DURING_ICU_YN NEW_COAG_DVT_DAILY_DOSE
1 ,,,,                        NA                      2000
2 1,,,,                       TRUE                    2000
3 1,,,,                       TRUE                    2000
4 1,,,,                       TRUE                    2000
5 ,,,,                        NA                      2000
6 ,,,,                        NA                      7600
  NEW_COAG_ANTIPLAT_DAILY_DOSE
1 1000
2 1000
3 1000
4 1000
5 1000
6   NA