# UNITE-COVID data curation notebook (R-Kernel)

## Version 2.x

This describes the curation process. We use the finalised dataset "UNITE_COVID_19_global_export-1Dec2020 CSV.csv" 
as the source data / master dataframe. The working dataframe is 'working.df' and is updated by the curation script.

"UNITE_curation_dictionary.xlsx" contains curation/explanatory notes.

ESICM UNITE-COVID curation team
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093
- Paul W Elbers (Amsterdam UMC: Amsterdam, NL) ORCID: 0000-0003-0447-6893
- Harm-Jan de Grooth (VU University Medical Center: Amsterdam, NL) ORCID: 0000-0002-7499-076X
- Thomas De Corte (Universiteit Gent: Gent, BE) ORCID: 0000-0001-5011-6640
- Massimiliano Greco (Humanitas University, Rozzano, IT) ORCID: 0000-0003-1003-4637

Coagulation free-text curation dictionaries
- Andrea Lavinio (Cambridge University Hospitals NHS Foundation Trust: Cambridge, GB)
- Ari Ercole (University of Cambridge: Cambridge, GB) ORCID: 0000-0001-8350-8093

Usage: 
Add data file as "./data/UNITE_COVID_19_global_export-1Dec2020.csv"

Dictionaries are in "./dictionaries"

Then source the current pipline and execute the function get_data() which returns the curated dataset as a dataframe

In [1]:
source("curation_pipeline_version_2_4.R")

data.df <- get_data()

**UNITE-COVID data curation notebook (R-Kernel)**

In [2]:
head(data.df)

  NEW_COUNTRY_ID NEW_SITE_ID NEW_SUBJECT_ID Iteration INC_CRIT1_YN INC_CRIT2_YN
1 01             03          01             1         TRUE         TRUE
2 01             03          02             1         TRUE         TRUE
3 01             03          03             1         TRUE         TRUE
4 01             03          04             1         TRUE         TRUE
5 01             03          05             1         TRUE         TRUE
6 01             06          01             1         TRUE         TRUE
  INC_CRIT3_YN INC_CRIT4_YN INC_SEX_RAD INC_AGE_INT ... OUTCOME_LD
1 TRUE         FALSE        Male        52          ... Hospitalized
2 TRUE         FALSE        Male        31          ... Death
3 TRUE         FALSE        Male        51          ... Death
4 TRUE         FALSE        Male        50          ... Death
5 TRUE         FALSE        Female      48          ... Discharged alive
6 TRUE         FALSE        Female      69          ... NA
  OUT_ICU_DURATION_INT OUT_DEAD_DURING_ICU_YN OUT_HOSP_DURATION_INT
1 66                   NA                      1
2 92                   TRUE                    1
3 92                   TRUE                    1
4 13                   TRUE                    1
5 43                   NA                     61
6  1                   NA                      1
  OUT_DISCHARGE_RRT_YN OUT_DEATH_DURING_ICU_YN.... INF_WITHOUT_ANTIMIC_INT
1 NA                   ,,,,                        30
2 NA                   1,,,,                        2
3 NA                   1,,,,                       10
4 NA                   1,,,,                        2
5 NA                   ,,,,                        41
6 NA                   ,,,,                        NA
  OUT_DEATH_DURING_ICU_YN NEW_COAG_DVT_DAILY_DOSE NEW_COAG_ANTIPLAT_DAILY_DOSE
1 NA                      2000                    1000
2 TRUE                    2000                    1000
3 TRUE                    2000                    1000
4 TRUE                    2000                    1000
5 NA                      2000                    1000
6 NA                      7600                      NA